{% extends 'core/index.html' %}

{% block title %}{% endblock %}

{% block content %}
    {% include 'core/book_list_form_include.html' %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Количество страниц</th>
        </tr>
      </thead>
      <tbody>
        {% for book in object_list %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>
                  <a href="{% url 'core:book_detail' book.id %}">{{ book.name }}</a>
              </td>
              <td>{{ book.pages|default:'-' }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}